@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* --------------------- General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background-color: #f3f5fc;
}

#alerta {
    display: none;
    position: fixed;
    left: 40%;
    bottom: 5%;
    width: 20%;
    padding: 18px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}
/* --------------------- Header */
h1 {
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
}

header img {
    height: min-content;
}

/* --------------------- Board */
.board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
    margin-top: 20px;
}

.textArea {
    border: none;
    resize: none;
    outline: none;
}

#texto {
    font-size: 25px;
    max-height: 60vh;
    color: #0A3871;
}

#texto::placeholder {
    color: #0A3871;
}

#leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 50%;
}

/* -------------- Board | SideBar*/
#sideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 30%;
}

#sideBar img {
    width: 250px;
}

#salida {
    height: 60vh;
    width: 300px;
    color: #495057;
    font-size: 20px;
}

#salidaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    display: none;
}

#sideHolder h3,
#sideHolder h6{
    text-align: center;
}

/* --------------------- Aviso */
.aviso {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
}

.aviso img {
    height: min-content;
}

.aviso h6 {
    color: #495057;
    font-size: 12px;
}

#botones,
.aviso {
    width: 80%;
    margin-left: 10%;
}

/* --------------------- Botones */

#botones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boton {
    width: 240px;
    padding: 18px;
    border-radius: 24px;
    font-size: 12px;
    cursor: pointer;
}

.boton:hover {
    scale: 1.05;
}

#encriptar {
    color: white;
    background-color: #0A3871;
}

#desencriptar,#copiar {
    color: #0A3871;
    border: #0A3871 solid 1px;
    background-color: #D8DFE8;
}

/* --------------------- Footer */
footer {
    margin-top: 1vh;
    height: 5vh;
    padding: 3vh 0;
    display: flex;
    justify-content: end;
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: min-content;
    margin-right: 5vw;
}

footer a img {
    height: 5vh;

}

footer a:hover {
    color: #0A3871;
}

footer a:hover img {
    scale: 1.05;
}